<div id="modalContainer" class="modalContainer confirmationModalContainer">
	<div class="maxWidth-container">
		<div class="container">
			<h2>
				{{en}}Delete Account{{/en}}
				{{fr}}Supprimer le Compte{{/fr}}
			</h2>
			<div class="messageBox">
				<div class="infos">
					{{en}}Attention, this action is irreversible! Do you want to continue?{{/en}}
					{{fr}}Attention, cette action est irreversible! Désirez-vous continuer?{{/fr}}
				</div>
				<div class="btnContainer">
					<div id="confirmationBtn" class="btn confirmBtn">
						{{en}}Yes{{/en}}
						{{fr}}Oui{{/fr}}
					</div>
					<div id="cancelBtn" class="btn cancelBtn">
						{{en}}No{{/en}}
						{{fr}}Non{{/fr}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>