<div class="maxWidth-container">
	<nav class="mainMenuContainer">
		<h1 class="title">CVM-ENV</h1>
		<input type="checkbox" aria-label="{{en}}expand menu{{/en}}{{fr}}déplier le menu{{/fr}}">
		<div class="mainMenu-btn">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul id="mainMenu" class="mainMenu">
			<li><a href="" data-href="home" class="navBtn">{{en}}Home{{/en}}{{fr}}Accueil{{/fr}}</a></li>
			<li><a href="" data-href="memberOnly" class="navBtn">{{en}}Members{{/en}}{{fr}}Membres{{/fr}}</a></li>
		</ul>
	</nav>
</div>