<div class="view passwordResetView">
	<div class="maxWidth-container formContainer">
		<h2>{{en}}Reset your Password{{/en}}{{fr}}Réinitialisez votre Mot de Passe{{/fr}}</h2>
		<form id="passwordResetForm" method="post">
			<div class="row">
				<label for="password">
					{{en}}Password *{{/en}}
					{{fr}}Mot de Passe *{{/fr}}
				</label>
				<div class="passwordContainer">
					<input type="password" name="password" id="password">
					<div id="passwordVisibility" class="passwordVisibility"></div>
				</div>
				<ul id="passwordConditionMessage" class="messageBox disable"></ul>
			</div>
			<div class="row">
				<label for="passwordConfirm">
					{{en}}Confirm Password *{{/en}}
					{{fr}}Confirmer le Mot de Passe *{{/fr}}
				</label>
				<input type="password" name="passwordConfirm" id="passwordConfirm">
				<ul id="passwordConfirmConditionMessage" class="messageBox disable"></ul>
			</div>
			<input id="passwordResetBtn" class="btn" type="submit" value="{{en}}VALIDATE{{/en}}{{fr}}VALIDER{{/fr}}">
			<div id="messageForm" class="messageBox disable"></div>
			<a href="" data-href="login">{{en}}Connection{{/en}}{{fr}}Connexion{{/fr}}</a>
		</form>
	</div>
</div>