<div class="view passwordResetView">
	<div class="maxWidth-container formContainer">
		<h2>{{en}}Reset your Password{{/en}}{{fr}}Réinitialisez votre Mot de Passe{{/fr}}</h2>
		<form id="passwordResetForm" method="post">
			<p class="explanations">
				{{en}}Enter your user account's verified email address and we will send you a password reset link.{{/en}}
				{{fr}}Saisissez l'adresse e-mail du compte et nous vous enverrons un lien de réinitialisation de mot de passe.{{/fr}}
			</p>
			<div class="row">
				<label for="email">
					{{en}}Email Address *{{/en}}
					{{fr}}Adresse Email *{{/fr}}
				</label>
				<input type="email" name="email" id="email">
				<div id="emailAlreadyUseMessage" class="messageBox error disable"></div>
				<ul id="emailConditionMessage" class="messageBox disable"></ul>
			</div>
			<input id="passwordResetBtn" class="btn" type="submit" value="{{en}}VALIDATE{{/en}}{{fr}}VALIDER{{/fr}}">
			<div id="messageForm" class="messageBox disable"></div>
			<a href="" data-href="login">{{en}}Connection{{/en}}{{fr}}Connexion{{/fr}}</a>
		</form>
	</div>
</div>