<div id="modalContainer" class="modalContainer spamModalContainer">
	<div class="maxWidth-container">
		<div class="container">
			<h2>Spam</h2>
			<div id="messageSpam" class="messageBox">
				{{en}}Too many attempts have been made. Please wait <span id="spam_timer" class="spam_timer"></span> seconds before trying again.{{/en}}
				{{fr}}Trop de tentatives ont été effectuées. Veuillez patienter <span id="spam_timer" class="spam_timer"></span> secondes avant de réessayer.{{/fr}}
			</div>
		</div>
	</div>
</div>