@keyframes play_passwordVisibility 
{
   	0% 
    { 
   		background-position: 0px;
   	}
    100%
    { 
    	background-position: -96px;
    }
}
@keyframes play_passwordVisibilityReverse
{
   	0% 
    { 
   		background-position: -96px;
   	}
    100%
    { 
    	background-position: 0px;
    }
}

.formContainer
{
	.passwordContainer
	{
		position: relative;
		input
	    {
	    	padding-right: 36px;
	    }
		.passwordVisibility
		{
			position: absolute;
			right: 6px;
			top: calc(50% - (#{$distance-generic01} / 2));
		    width: 24px;
		    height: 24px;
		    background: url("../images/passwordVisibility.svg") no-repeat;
		    background-size: 120px 24px;
		    transform: translate3d(0, -50%, 0);
		    &:hover
		    {
		    	cursor: pointer;
		    }
		}
		.pwd
		{
		    animation: play_passwordVisibilityReverse 0.2s steps(4) backwards;
		}
		.text
		{
		    animation: play_passwordVisibility 0.2s steps(4) forwards;
		}
	}
}
